#**Stock Market Analysis With Python Pandas**

In [ ]:
import pandas_datareader.data as web
import datetime
import matplotlib.pyplot as plt
import numpy as np
import yfinance as yf
%matplotlib inline

In [ ]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)

# download dataframe
data = pdr.get_data_yahoo("SPY", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  1 of 1 completed

In [ ]:
start = datetime.datetime(2012,1,1)
end = datetime.datetime(2023,6,14)

In [ ]:
# tesla = web.DataReader("yahoo",start,end)
# att = web.DataReader('F', 'yahoo', start, end)

google = yf.download('GOOGL', start=start, end= end)
tesla = yf.download('TSLA', start=start, end= end)

In [ ]:
tesla

In [ ]:
google

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2012-01-03,16.339840,16.720470,16.325577,16.651901,16.651901,146912940
2012-01-04,16.642391,16.773024,16.532032,16.723724,16.723724,114445440
2012-01-05,16.569820,16.615866,16.422173,16.491741,16.491741,131184684
2012-01-06,16.495245,16.516518,16.261011,16.266768,16.266768,107608284
2012-01-09,16.178679,16.191191,15.546296,15.577077,15.577077,232671096
...,...,...,...,...,...,...
2023-06-07,126.970001,129.039993,122.120003,122.500000,122.500000,52539000
2023-06-08,122.230003,123.230003,121.239998,122.139999,122.139999,29389200
2023-06-09,122.250000,123.760002,121.910004,122.230003,122.230003,23762500
2023-06-12,122.790001,124.050003,121.660004,123.639999,123.639999,28306400
2023-06-13,124.980003,125.160004,123.180000,123.830002,123.830002,22278300

In [ ]:
google['High-Low'] = google['High'] - google['Low']
google

In [ ]:
google.head()

In [ ]:
google['Open']

In [ ]:
google['Open'].plot()

In [ ]:
google['Open'].head().plot()

In [ ]:
google['Open'].plot(label="Google Opening Price")
google['Close'].plot(label="Google closing Price")

In [ ]:
google['Open'].head().plot(label="Google Opening Price")
google['Close'].head().plot(label="Google closing Price")

In [ ]:
google['Open'].head().plot(label="Google Opening Price")
google['Close'].head().plot(label="Google closing Price")
plt.legend()

In [ ]:
google['Open'].head().plot(label="Google Opening Price")
google['Close'].head().plot(label="Google closing Price")
google['High'].head().plot(label="Google High Price")
google['Low'].head().plot(label="Google Low Price")
plt.legend()

In [ ]:
google['Open'].head().plot(label="Google Opening Price")
google['Close'].head().plot(label="Google closing Price")
google['High'].head().plot(label="Google High Price")
google['Low'].head().plot(label="Google Low Price")
plt.title('Google Stock Price')
plt.xlabel('Stock Date')
plt.ylabel('Stock Volumn')
plt.legend()

In [ ]:
google['Open'].plot(label="Google Opening Price")
google['Close'].plot(label="Google closing Price")
google['High'].plot(label="Google High Price")
google['Low'].plot(label="Google Low Price")
plt.title('Google Stock Price')
plt.xlabel('Stock Date')
plt.ylabel('Stock Volumn')
plt.legend()

In [ ]:
google['Open'].plot(label="Google Opening Price", figsize=(20,10))
google['Close'].plot(label="Google closing Price")
google['High'].plot(label="Google High Price")
google['Low'].plot(label="Google Low Price")
plt.title('Google Stock Price')
plt.xlabel('Stock Date')
plt.ylabel('Stock Volumn')
plt.legend()

#**Stock Volume Traded Visualization**

In [ ]:
google['Volume'].plot()